.trailer-section {
    position: relative;
    width: 100%;
    max-height: 600px;
    margin-top: 15px;
}

.poster-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: auto;
    z-index: 2;
    border-radius: 10px;
}

.trailer-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.trailer-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    width: 80%;
}

.imdb-logo {
    width: 50px;
    height: auto;
}

.person-link {
    text-decoration: none;
    color: inherit;
}

.person-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.divider {
    height: 45px;
    background-color: #151E27;
    margin: 20px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 600px) {
    .trailer-section {
        height: auto;
    }

    .trailer-buttons {
        flex-direction: column;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .trailer-section {
        height: auto;
    }
}
