body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.trailer-section {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.poster-overlay {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 107px;
    height: 209px;
    z-index: 2;
    border-radius: 10px;
}
.trailer-buttons {
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1;
    gap: 10px;
}
.bg-dark{
    background-color: #000;
}
.bg-dark img{
    opacity: 0.3;
}
.imdb-logo {
    width: 50px;
    height: auto;
}
.person-link {
    text-decoration: none;
    color: inherit;
}
.person-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}
.divider {
    height: 45px;
    background-color: #151E27;
    margin: 20px 0;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
footer {
    margin-top: auto;
}
@media (max-width: 600px) {
    .trailer-section {
        height: auto;
    }
    .trailer-buttons {
        /* flex-direction: column; */
        margin-top: 15px;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .trailer-section {
        height: auto;
    }
}