.carousel-card {
    margin: 20px auto;
    max-height: 100;
}

.card-button-container {
    text-align: center;
    margin-top: 10px;
}

.card-button {
    width: 100%;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.welcome-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.welcome-buttons .MuiButton-root {
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .welcome-buttons {
        flex-direction: row;
    }

    .welcome-buttons .MuiButton-root {
        margin-bottom: 0;
        margin-right: 10px;
    }
}
