.card {
    margin: 20px;
}

.card-content {
    text-align: center;
}

.card-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-button {
    width: 80%;
}

.movie-card {
    padding: 10px;
}

.slick-prev, .slick-next {
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-dots li button:before {
    color: black;
}

.slick-dots li.slick-active button:before {
    color: black;
}
