.navigationContainer {
  display: flex;
  margin-top: 20px;
}

.filterSortBox {
  width: 300px;
  flex-shrink: 0;
  margin-right: 20px;
}

.drawerTitle {
  margin-bottom: 10px;
}

.formControl {
  margin-bottom: 20px;
}

.resultsBox {
  flex-grow: 1;
  padding: 20px;
}

.resultsTitle {
  margin-bottom: 20px;
}

.moviesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.movieItem {
  width: 200px;
}

.movieItem img {
  width: 100%;
  height: auto;
}
