.menu-item{
    color: #fff;
    display: inline-block;
    padding: 0 5px;
}

.menu-item-mobile{
    color: #000;
    display: block;
    padding: 10px;
}

.menu-item:hover{
    color: #FFC700;
}
.krainaHD1 {
    max-height: 35px;
}
.premaritalСolor {
    color: #A9A9A9;
}